cloudinary:
    api-key: 633177433524186
    api-secret: ${CLOUDINARY_API_SECRET}
    cloud-name: djoiyj8ia
spring:
    datasource:
        driverClassName: com.mysql.cj.jdbc.Driver
        username: root
        password: ${DB_PASSWORD}
        url: jdbc:mysql://localhost:3306/elite_sports_equipment?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true&serverTimezone=UTC
    jpa:
        hibernate:
            ddl-auto: create-drop
    mvc:
        hiddenmethod:
            filter:
                enabled: true
    servlet:
        multipart:
            max-file-size: 10MB
            max-request-size: 10MB
