<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="container py-4 border-top">
    <footer class="mt-auto">
        <div class="row text-center">
            <div class="col-sm-4">
                <h5>Pages</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/" class="p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="/products/all" class="p-0 text-muted">Products</a>
                    </li>
                    <li class="nav-item mb-2"><a href="/products/giftcard" class="p-0 text-muted">Gift
                        Cards</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h5>Products</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/products/belts" class="p-0 text-muted">Belts</a>
                    </li>
                    <li class="nav-item mb-2"><a href="/products/straps" class="p-0 text-muted">Straps</a>
                    </li>
                    <li class="nav-item mb-2"><a href="/products/sleeves"
                                                 class="p-0 text-muted">Sleeves</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h5>Contacts</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2 text-muted">
                        <i class="bi bi-house-fill pe-2"></i>Sofia, Address, BG
                    </li>
                    <li class="nav-item mb-2 text-muted">
                        <i class="bi bi-envelope-fill pe-2"></i>example@email.com
                    </li>
                    <li class="nav-item mb-2 text-muted">
                        <i class="bi bi-phone-vibrate-fill pe-2"></i>+000 000 0000
                    </li>
                </ul>
            </div>

            <!--            <div class="col-3 offset-1">-->
            <!--                <form>-->
            <!--                    <h5>Subscribe to our newsletter</h5>-->
            <!--                    <p>Monthly digest of whats new and exciting from us.</p>-->
            <!--                    <div class="d-flex w-100 gap-2">-->
            <!--                        <label for="newsletter1" class="visually-hidden">Email address</label>-->
            <!--                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">-->
            <!--                        <button class="btn btn-dark" type="button">Subscribe</button>-->
            <!--                    </div>-->
            <!--                </form>-->
            <!--            </div>-->
        </div>

        <div class="justify-content-between py-4 mt-4 border-top">
            <div class="row">
                <div class="col-sm-9">
                    <p>© 2022 Educational purposes only. No rights reserved.</p>
                </div>
                <div class="col-sm-3">
                    <ul class="list-unstyled d-flex">
                        <li class="ms-3"><a class="link-dark" style="font-size: 21px" href="https://twitter.com/"><i
                                class="bi bi-twitter"></i></a>
                        </li>
                        <li class="ms-3"><a class="link-dark" style="font-size: 21px" href="https://instagram.com/"><i
                                class="bi bi-instagram"></i></a></li>
                        <li class="ms-3"><a class="link-dark" style="font-size: 21px" href="https://facebook.com/"><i
                                class="bi bi-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</div>

</body>
</html>